<!doctype html>
<html>
<head>
	<!--Background setting of WTW-Computer website -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WTW-Computer</title>
	<link rel="icon" href="img/wtw_psf_1.ico">
	
	<!--For connecting the css & javascript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	
	<!--For setting the background -->
	<style>
		body{
			background-color: #e0e0eb
		}
		/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

	</style>
	
	<!-- Setting up for using jQuery-->


<body>
	<!--Setting the top of the website -->
<nav class="navbar sticky-top navbar-expand-sm navbar-dark" style="background-color: #f0f0f5">
	<a class="navbar-brand" style="color:#3399ff" herf="#"><img src="static/image/WTW.png" title="WTW Computer" alt="WTW Business Logo"><img src="static/image/®.png" alt="Rights logo" width="15" height="15"></a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headNavbar">
    <span class="navbar-toggler-icon"></span>
  	</button>
		
  	<div class="collapse navbar-collapse" id="headNavbar">
  		<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/" title="Home Page of WTW Computer">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/About" title="Know more about WTW-Computer">About Us</a>
		</li>
<!--
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" style="color:#EE3131;font-weight: bold; "  href="#" data-toggle="dropdown" >Online shop</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="http://localhost:5000/set_list">Sets of PC</a>
				<a class="dropdown-item" href="http://localhost:5000/smartphone">Smartphones</a>
			</div>
		</li>
-->
		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/set_list" title="Know more about WTW-Computer">Sets of PC</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/smartphone" title="Know more about WTW-Computer">Sets of PC</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/reg" title="To be our member">Sign Up</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/login" title="To login our system">Sign In</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " style="color:#EE3131;font-weight: bold; "  href="http://localhost:5000/staff" title="For staff only">Staff</a>
		</li>
		</ul>
		</div>
	</nav>
	


	
	<div class="column1">
	<h2>About Us</h2><br>
	<h3 class="intro">WTW-Computer, a 24-hour online shopping platform, sells all kinds of computer hardware (e.g. CPU, Harddisk, Ram, Display Card etc.) and sets of PC. We provide the next day delivery service and instant customer service inquiry service to help you buy the products at the best price. </h3>
	<br>
	<br>
	</div>
	
	<div class="column1">
		<img src="static/image/service1.jpg" alt="our service" height=70% width=70%>
	</div>
	
	<div class="column5">
	<h2>Contact Us</h2><br>
	<h3 class="intro">
	TelNo.: +852 2333 4455 <br><br>
	Email: <a href="mailto:wtw.computer@gmail.com?Subject=Hello WTW!" target="_top">wtw.computer@gmail.com</a> <br><br>
	Address: 15 Argyle Street, Mong Kok, Hong Kong <br><br>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.91188063086!2d114.16509511534603!3d22.31917214784879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400b80cbb71ef%3A0x66a496597faa9456!2z5pe66KeS5Lqe55qG6ICB6KGXMTXomZ8!5e0!3m2!1szh-TW!2shk!4v1554585409566!5m2!1szh-TW!2shk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		
	</h3>
	
	
	</div>

	<footer class="footer">
	  <div class ="container">
		<p class="text-xs-center">Copyright (c) 2019 WTW-Compuer  </p>
		
		</div>
	</footer>

</body>
</html>
